.detailsContainer {
	display: flex;
	gap: 40px;
	padding: 30px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 12px;
	margin-top: 20px;
}

.poster {
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	margin-top: 20px;
	border: none;
	border-radius: 6px;
	background-color: teal;
	color: white;
	cursor: pointer;
	font-weight: 500;
	transition: background 0.2s;
}

.btn:hover {
	background-color: #006d6d;
}

.btnSecondary {
	composes: btn;
	background: #444;
	margin-right: 15px;
}

.backBtn {
	composes: btn;
	margin-left: 30px;
}

.genres {
	display: flex;
	gap: 10px;
	margin: 20px 0px 50px 0px;
}

.genreTag {
	background: #eee;
	padding: 4px 12px;
	border-radius: 15px;
	font-size: 0.9rem;
}